include MANIFEST.in
include LICENSE
include README.txt
include samples/pydecnet.conf
include pydecnet
recursive-include decnet *.py
recursive-include samples *.py
recursive-include tests *.py
recursive-include doc *
recursive-exclude doc *~
