include MANIFEST.in
include LICENSE
include README.txt
include samples/pydecnet.conf
include samples/bridge.conf
include pydecnet
include crc.py
recursive-include decnet *.py
recursive-include samples *.py *.json *.yaml
recursive-include tests *.py
recursive-include doc *.txt
