html {
    font-size: 2.2vw;
}

table, th, td {
    font-size: 2.2vw;
}

h2, h3 {
    font-size: 2.8vw;
}

.sidebar, .timestamps {
    font-size: 2vw;
}

.toptitle {
    text-align: right;
    font-size: 3.2vw;
}

.middle {
    flex-direction: column;
}
    
.sidebar {
    flex-direction: column;
    padding: 1pt;
    margin: 0pt;
}

.sidebar-label {
    padding: 1pt;
}

.sidebar-element {
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
}

.sidebar-link, .sidebar-link-active {
    background-color: transparent;
    border-style: none;
    padding: 1pt;
    margin: 0pt;
}
